/* =====MEDIA======*/
/* MEDIA 428 */
@media (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_bg/dark-bg_mobile@x2.jpg);
  }
}
/* MEDIA 768 */
@media screen and (min-width: 768px) {
  /* Hero */
  .hero {
    background-color: var(--praimary-title-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_bg/dark-bg_tablet@x1.jpg);
    padding: 112px 0;
    height: 436px;
  }

  @media (min-device-pixel-ratio: 2) and (min-width: 768px),
    (min-resolution: 192dpi) and (min-width: 768px),
    (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero_bg/dark-bg_tablet@x2.jpg);
    }
  }

  .main-title {
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }
  /* ABOUT */

  .about-container {
    max-width: 768px;
  }

  .about-list {
    row-gap: 72px;
    column-gap: 24px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about-item {
    width: calc((100% - 24px) / 2);
  }

  .item-title {
    text-align: start;
  }
  /*====TEAM====*/
  .team {
    padding: 96px 93px;
  }

  .team-list {
    row-gap: 64px;
    column-gap: 24px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  /*====/TEAM====*/

  /* =====CUSTOMERS===== */
  .customers {
    padding: 96px 93px;
  }

  .customers-logos {
    max-width: 552px;
    row-gap: 72px;
    column-gap: 24px;
  }

  .customers-logos-item {
    width: 168px;
  }

  /* =====/CUSTOMERS===== */

  /* ====Footer==== */

  .footer-container {
    max-width: 582px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    justify-content: flex-start;
    align-items: baseline;
  }

  .footer-left-side {
    align-items: start;
    margin-right: 24px;
  }
  .footer-social {
    margin-right: auto;
  }

  .footer-form-text {
    text-align: start;
  }

  .footer-form {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    row-gap: 16px;
  }

  .footer-email-form {
    width: 264px;
    margin-right: 24px;
    margin-bottom: 0;
  }

  .footer-email-form-button {
    margin: 0 0;
  }
}

/* ====/Footer==== */

/* MEDIA 1158 */
@media screen and (min-width: 1158px) {
  /* HERO */
  .hero {
    background-color: var(--praimary-title-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_bg/dark-bg_desktop@x1.jpg);
    padding: 188px 0;
    height: 600px;
  }

  @media (min-device-pixel-ratio: 2) and (min-width: 1158px),
    (min-resolution: 192dpi) and (min-width: 1158px),
    (min-resolution: 2dppx) and (min-width: 1158px) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero_bg/dark-bg_desktop@x2.jpg);
    }
  }

  .main-title {
    margin-bottom: 48px;
  }
  /* ABOUT */

  .about {
    margin: 0 auto;
    max-width: 1440px;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .about-container {
    max-width: 1160px;
  }

  .about-list {
    max-width: 1128px;
  }

  .about-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    background: #f4f4fd;
    border-radius: 4px;
    padding: 24px 100px;
  }

  .about-item {
    width: calc((100% - 72px) / 4);
  }

  .item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .about-text {
    font-weight: 400;
  }
  /* /ABOUT */

  /*====WHAT WE ARE DOING====== */
  .service {
    display: block;
    padding-bottom: 120px;
  }

  .about-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--praimary-title-color);
  }

  .list-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  /*====/WHAT WE ARE DOING====== */

  /*====OUR TEAM====*/
  .team {
    padding: 120px 145px;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: nowrap;
    row-gap: 0;
    column-gap: 0;
    gap: 24px;
  }
  /*====/OUR TEAM====*/

  /* =====CUSTOMERS===== */

  .customers {
    padding: 120px 145px;
  }

  .customers-logos {
    max-width: 1128px;
    flex-wrap: nowrap;
    row-gap: 0;
    column-gap: 24px;
  }

  .customers-logos-item {
    min-width: 168px;
  }

  /* =====/CUSTOMERS===== */

  /* ====Footer==== */
  .footer-container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
  }
  .footer-left-side {
    align-items: start;
    margin-right: 120px;
  }

  .footer-social {
    margin-right: 80px;
    margin-bottom: 0;
  }
  .footer-form-text {
    margin-bottom: 0;
  }
}
/* ====/Footer==== */
